@import './_variables';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE

.new-recipe {
	display: none;
	background-color: $section-dark;
	border-radius: 8px;
	margin-top: 0.7rem;
	padding: 1rem;
	flex-grow: 1;
	margin-bottom: 0.5rem;

	&__input-nest {
		display: flex;
		align-items: center;
	}

	&__recipe-text {
		display: flex;
		flex-direction: column;
		margin-top: 0.9rem;
	}

	&__category {
		margin-top: 0.9rem;
		display: flex;
		flex-direction: column;
	}

	label {
		font-weight: 300;
	}

	input {
		margin-top: 0.4rem;
		margin-bottom: 0.3rem;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	fieldset {
		border: none;
	}

	textarea {
		margin-top: 0.5rem;
		margin-bottom: 0.7rem;
		border: none;
		border-radius: 8px;
		height: 15vmin;
		padding: 0.5rem 0.5rem 0.5rem 0.4rem;
		font-family: 'Comfortaa', cursive;
		font-size: 1rem;

		&:focus {
			outline: none;
		}
	}

	ul {
		list-style: none;
		li {
			display: flex;
			margin-top: 0.7rem;
			img {
				cursor: pointer;
				margin-right: 0.5rem;
			}
		}
	}

	select {
		margin-top: 0.5rem;
		margin-bottom: 0.7rem;
	}
}

.form-group {
	margin-top: 0.7rem;
}

.js-input-dish-name {
	border: 2px solid transparent;
}
.js-empty-field {
	border: 2px solid $accent;
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
	.new-recipe {
		grid-area: newRecipe;
		display: flex;
		flex-direction: column;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP - NARROW + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1025px) {
	.new-recipe {
		margin-top: 0rem;

		input {
			margin-top: 0.4vh;
			margin-bottom: 0.3vh;
		}

		label {
			font-size: calc(1rem + 0.3vh);
		}

		textarea {
			margin-top: 0.4vh;
			height: 10vh;
		}

		select {
			margin-top: 0.3vh;
			margin-bottom: 0.7vh;
		}

		ul {
			li {
				margin-top: 0.7vh;
				margin-bottom: 0vh;
			}
		}
	}
}
